.flex-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.hero-info {
  width: 50% !important;
}

.flex-container .hero-image {
  width: 50%;
}

.flex-container .hero-image img {
  height: 35rem;
}

@media (min-width: 992px) {
  .flex-container .hero-info ul li {
    margin-top: 15px;
  }
}

@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-container .hero-image {
    width: 100%;
  }

  .hero-info {
    width: 100% !important;
  }

  .flex-container .hero-info {
    margin-top: 2rem;
  }

  .flex-container .hero-info ul li {
    margin-top: 5px;
  }
}

@media (max-width: 460px) {
  .flex-container .hero-image img {
    height: 75vh;
  }

  .hero-info {
    width: 100% !important;
  }
}
